<div class="urkunde" data-urkunde>
  <div class="frame-outer"></div>
  <div class="frame-inner"></div>
  <span class="corner tl"></span>
  <span class="corner tr"></span>
  <span class="corner bl"></span>
  <span class="corner br"></span>
  <div class="content">
    <div class="emblem-head" data-field="showEmblem">
      <img class="emblem" data-field="emblem" src="" alt="Wappen" />
    </div>
    {{CONTENT}}
    <div class="signatures">
      <div class="sig"><div class="line"></div><div class="role" data-field="signatureLeft">Vorsitz</div></div>
      <div class="sig"><div class="line"></div><div class="role" data-field="signatureRight">Schriftführung</div></div>
    </div>
  </div>
</div>
